# Bay Area Rapid Transit Ridership

"Bay Area Rapid Transit "in kısaltması olan BART, Kaliforniya'daki San Francisco Körfez Bölgesi'ni birbirine bağlayan bir transit sistemidir. BART altı güzergah, 46 istasyon ve 112 mil uzunluğunda hat işletmektedir. Hafta içi ortalama 423.000 kişilik bir yolcu kitlesine hizmet vermektedir ve bu da onu ABD'deki en yoğun beşinci hızlı transit sistemi yapmaktadır. Bu veri seti, 2016 yılının tamamını ve 2017 yılının bir kısmını kapsayan bir dönem için BART yolcularına ilişkin günlük bilgileri içermektedir. Diğer bazı hızlı transit sistem veri setlerinin aksine, bu veriler belirli istasyonlar arasındaki hareketleri içermektedir (2000'den biraz fazla istasyon-istasyon kombinasyonu vardır)

<img src="https://live.staticflickr.com/3682/9099934010_7b3fdf178e_z.jpg">

<b>Veri Analitiği Soruları</b><br>
En yoğun BART istasyonu hangisidir?<br>
En az popüler BART rotası hangisidir? <br>
Berkeley'den SF'ye gitmek için en uygun zaman hangisidir?<br>
Haftanın hangi günü en yoğundur?<br>
Gece geç saatlerde kaç kişi BART'a biner?

<b>Veri Bilimi Soruları</b><br>
Soru A: Her istasyon arasındaki düz çizgi mesafesini hesaplayın<br> 
Soru B: Herhangi 2 istasyon arasında Bart tarafından işe gidip gelen insan sayısını tahmin edebilecek bir model oluşturun: Buna nasıl yaklaşırdınız? Hangi ek verilere ihtiyacınız olurdu? Şehir veya Bart yetkililerinin verilerinizi nasıl kullanmasını isterdiniz?

<a href="https://www.kaggle.com/datasets/saulfuh/bart-ridership">Dataya buradan erişebilirsiniz</a>

2016'da belirli bir zamanda (DateTime) iki istasyon (Origin ve Destination) arasında giden yolcu sayısı (Throughput).

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [3]:
df1=pd.read_csv("date-hour-soo-dest-2016.csv")

In [4]:
df1

        Origin Destination  Throughput             DateTime
0         12TH        12TH           1  2016-01-01 00:00:00
1         12TH        16TH           1  2016-01-01 00:00:00
2         12TH        24TH           4  2016-01-01 00:00:00
3         12TH        ASHB           4  2016-01-01 00:00:00
4         12TH        BALB           2  2016-01-01 00:00:00
...        ...         ...         ...                  ...
9971577   WOAK        PLZA           1  2016-12-31 23:00:00
9971578   WOAK        POWL          30  2016-12-31 23:00:00
9971579   WOAK        RICH           2  2016-12-31 23:00:00
9971580   WOAK        ROCK           2  2016-12-31 23:00:00
9971581   WOAK        WOAK           1  2016-12-31 23:00:00

[9971582 rows x 4 columns]

In [5]:
df2=pd.read_csv("date-hour-soo-dest-2017.csv")

In [6]:
df2

        Origin Destination  Throughput             DateTime
0         12TH        19TH           1  2017-01-01 00:00:00
1         12TH        24TH           2  2017-01-01 00:00:00
2         12TH        BAYF           1  2017-01-01 00:00:00
3         12TH        CIVC           5  2017-01-01 00:00:00
4         12TH        COLS           2  2017-01-01 00:00:00
...        ...         ...         ...                  ...
3313620   WSPR        MONT           1  2017-05-03 23:00:00
3313621   WSPR        NBRK           1  2017-05-03 23:00:00
3313622   WSPR        NCON           1  2017-05-03 23:00:00
3313623   WSPR        SANL           2  2017-05-03 23:00:00
3313624   WSPR        SHAY           4  2017-05-03 23:00:00

[3313625 rows x 4 columns]

In [7]:
dfi=pd.read_csv("station_info.csv")

In [8]:
dfi

,Abbreviation,Description,Location,Name
0,12TH,"1245 Broadway, Oakland CA 94612<br />12th St. ...","-122.271450,37.803768,0",12th St. Oakland City Center (12TH)
1,16TH,"2000 Mission Street, San Francisco CA 94110<br...","-122.419694,37.765062,0",16th St. Mission (16TH)
2,19TH,"1900 Broadway, Oakland CA 94612<br />19th Stre...","-122.268602,37.808350,0",19th St. Oakland (19TH)
3,24TH,"2800 Mission Street, San Francisco CA 94110<br...","-122.418143,37.752470,0",24th St. Mission (24TH)
4,ASHB,"3100 Adeline Street, Berkeley CA 94703<br />As...","-122.270062,37.852803,0",Ashby (ASHB)
5,BALB,"401 Geneva Avenue, San Francisco CA 94112<br /...","-122.447506,37.721585,0",Balboa Park (BALB)
6,BAYF,"15242 Hesperian Blvd., San Leandro CA 94578<br...","-122.126514,37.696924,0",Bay Fair (BAYF)
7,CAST,"3301 Norbridge Dr., Castro Valley CA 94546<br ...","-122.075602,37.690746,0",Castro Valley (CAST)
8,CIVC,"1150 Market Street, San Francisco CA 94102<br ...","-122.414123,37.779732,0",Civic Center/UN Plaza (CIVC)
9,COLS,"7200 San Leandro St., Oakland CA 94621<br />We...","-122.196869,37.753661,0",Coliseum/Oakland Airport (COLS)
10,COLM,"365 D Street, Colma CA 94014<br />The Town of ...","-122.466233,37.684638,0",Colma (COLM)
11,CONC,"1451 Oakland Avenue, Concord CA 94520<br />Con...","-122.029095,37.973737,0",Concord (CONC)
12,DALY,"500 John Daly Blvd., Daly City CA 94014<br />D...","-122.469081,37.706121,0",Daly City (DALY)
13,DBRK,"2160 Shattuck Avenue, Berkeley CA 94704<br />T...","-122.268133,37.870104,0",Downtown Berkeley (DBRK)
14,DELN,"6400 Cutting Blvd., El Cerrito CA 94530<br />S...","-122.316794,37.925086,0",El Cerrito del Norte (DELN)
15,DUBL,"5801 Owens Dr., Pleasanton CA 94588<br />This ...","-121.899179,37.701687,0",Dublin/Pleasanton (DUBL)
16,EMBR,"298 Market Street, San Francisco CA 94111<br /...","-122.397020,37.792874,0",Embarcadero (EMBR)
17,FRMT,"2000 BART Way, Fremont CA 94536<br />Fremont S...","-121.976608,37.557465,0",Fremont (FRMT)
18,FTVL,"3401 East 12th Street, Oakland CA 94601<br />O...","-122.224175,37.774836,0",Fruitvale (FTVL)
19,GLEN,"2901 Diamond Street, San Francisco CA 94131<br...","-122.433817,37.733064,0",Glen Park (GLEN)
20,HAYW,"699 'B' Street, Hayward CA 94541<br />The City...","-122.087018,37.669723,0",Hayward (HAYW)
21,LAFY,"3601 Deer Hill Road, Lafayette CA 94549<br />C...","-122.124630,37.893176,0",Lafayette (LAFY)
22,LAKE,"800 Madison Street, Oakland CA 94607<br />Lake...","-122.265180,37.797027,0",Lake Merritt (LAKE)
23,MCAR,"555 40th Street, Oakland CA 94609<br />MacArth...","-122.267040,37.829065,0",MacArthur (MCAR)
24,MLBR,"200 North Rollins Road, Millbrae CA 94030<br /...","-122.386702,37.600271,0",Millbrae (MLBR)
25,MONT,"598 Market Street, San Francisco CA 94104<br /...","-122.401066,37.789405,0",Montgomery St. (MONT)
26,NBRK,"1750 Sacramento Street, Berkeley CA 94702<br /...","-122.283440,37.873967,0",North Berkeley (NBRK)
27,NCON,"3700 Port Chicago Highway, Concord CA 94520<br...","-122.024653,38.003193,0",North Concord/Martinez (NCON)
28,OAKL,"1 Airport Drive, Oakland CA 94621<br />Located...","-122.212191,37.713238,0",Oakland Airport (OAKL)
29,ORIN,"11 Camino Pablo, Orinda CA 94563<br />Original...","-122.183791,37.878361,0",Orinda (ORIN)
30,PHIL,"1365 Treat Blvd., Walnut Creek CA 94597<br />B...","-122.056012,37.928468,0",Pleasant Hill/Contra Costa Centre (PHIL)
31,PITT,"1700 West Leland Road, Pittsburg CA 94565<br /...","-121.945154,38.018914,0",Pittsburg/Bay Point (PITT)
32,PLZA,"6699 Fairmount Avenue, El Cerrito CA 94530<br ...","-122.298904,37.902632,0",El Cerrito Plaza (PLZA)
33,POWL,"899 Market Street, San Francisco CA 94102<br /...","-122.407974,37.784471,0",Powell St. (POWL)
34,RICH,"1700 Nevin Avenue, Richmond CA 94801<br />Thre...","-122.353099,37.936853,0",Richmond (RICH)
35,ROCK,"5660 College Avenue, Oakland CA 94618<br />Nam...","-122.251371,37.844702,0",Rockridge (ROCK)
36,SANL,"1401 San Leandro Blvd., San Leandro CA 94577<b...","-122.160844,37.721947,0",San Leandro (SANL)
37,SBRN,"1151 Huntington Avenue, San Bruno CA 94066<br ...","-122.416287,37.637761,0",San Bruno (SBRN)
38,SFIA,"International Terminal, Level 3, San Francisco...","-122.392409,37.615966,0",San Francisco Int'l Airport (SFIA)
39,SHAY,"28601 Dixon Street, Hayward CA 94544<br />Hayw...","-122.057189,37.634375,0",South Hayward (SHAY)
40,SSAN,"1333 Mission Road, South San Francisco CA 9408...","-122.443960,37.664245,0",South San Francisco (SSAN)
41,UCTY,"10 Union Square, Union City CA 94587<br />Inco...","-122.017388,37.590630,0",Union City (UCTY)
42,WARM,"45193 Warm Springs Blvd, Fremont, CA 94539<br ...","-121.939313,37.502171,0",Warm Springs/South Fremont (WARM)
43,WCRK,"200 Ygnacio Valley Road, Walnut Creek CA 94596...","-122.067527,37.905522,0",Walnut Creek (WCRK)
44,WDUB,"6501 Golden Gate Drive, Dublin CA 94568<br />T...","-121.928240,37.699756,0",West Dublin/Pleasanton (WDUB)
45,WOAK,"1451 7th Street, Oakland CA 94607<br />The Wes...","-122.295140,37.804872,0",West Oakland (WOAK)

In [9]:
df = pd.concat([df1, df2], ignore_index=True)

In [10]:
df.shape

(13285207, 4)

In [11]:
df

         Origin Destination  Throughput             DateTime
0          12TH        12TH           1  2016-01-01 00:00:00
1          12TH        16TH           1  2016-01-01 00:00:00
2          12TH        24TH           4  2016-01-01 00:00:00
3          12TH        ASHB           4  2016-01-01 00:00:00
4          12TH        BALB           2  2016-01-01 00:00:00
...         ...         ...         ...                  ...
13285202   WSPR        MONT           1  2017-05-03 23:00:00
13285203   WSPR        NBRK           1  2017-05-03 23:00:00
13285204   WSPR        NCON           1  2017-05-03 23:00:00
13285205   WSPR        SANL           2  2017-05-03 23:00:00
13285206   WSPR        SHAY           4  2017-05-03 23:00:00

[13285207 rows x 4 columns]

In [12]:
df.isnull().sum()

Origin         0
Destination    0
Throughput     0
DateTime       0
dtype: int64

### Veri Analitiği Soruları

#### En kalabalik istasyon?

In [13]:
cikisist = df.groupby('Origin')['Throughput'].sum()

In [14]:
girisist = df.groupby('Destination')['Throughput'].sum()

In [15]:
top=cikisist+girisist

In [16]:
top

Origin
12TH    10714765
16TH    10749505
19TH    10392910
24TH    10762588
ASHB     4517435
BALB     9070671
BAYF     4790309
CAST     2375800
CIVC    19536703
COLM     3492547
COLS     6099906
CONC     4870930
DALY     7557164
DBRK    10806360
DELN     7025189
DUBL     6430187
EMBR    34076644
FRMT     7086678
FTVL     6933341
GLEN     6220306
HAYW     4015834
LAFY     2909804
LAKE     5890819
MCAR     7417837
MLBR     5431489
MONT    33063895
NBRK     3815849
NCON     2162392
OAKL     1320157
ORIN     2394412
PHIL     5757206
PITT     5023134
PLZA     4067244
POWL    26593039
RICH     3510850
ROCK     4748994
SANL     4925136
SBRN     3081435
SFIA     5967427
SHAY     2427717
SSAN     2870021
UCTY     3809093
WCRK     5576234
WDUB     2866915
WOAK     6114144
WSPR      163509
Name: Throughput, dtype: int64

In [17]:
# En kalabalık istasyonu bulma
En_kalabalık_istasyon = top.idxmax()
most_crowded_passengers = top.max()

print(f"En kalabalık istasyon: {En_kalabalık_istasyon}, Yolcu sayısı: {most_crowded_passengers}")

En kalabalık istasyon: EMBR, Yolcu sayısı: 34076644

#### En az popüler Rota?

In [18]:
# Hem çıkış hem giriş istasyonlarını birleştirerek yeni bir sütun oluşturma
df['route'] = df['Origin'] + ' to ' + df['Destination']

# Rotalara göre yolcu sayılarını toplama
route_passenger_sum = df.groupby('route')['Throughput'].sum()

# En popüler rotayı bulma
most_popular_route = route_passenger_sum.idxmin()
most_popular_passengers = route_passenger_sum.min()

print(f"En az popüler rota: {most_popular_route}, Yolcu sayısı: {most_popular_passengers}")

En az popüler rota: WSPR to SBRN, Yolcu sayısı: 40

#### Berkeley'den(Downtown Berkeley) SF'ye(Embarcadero) gitmek için bir koltuk bulmak istiyorsanız en iyi zaman ne zaman?

In [19]:
# 'datetime' sütununu datetime formatına çevirme
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Tarih ve saat sütunlarını ayırma
df['date'] = df['DateTime'].dt.date
df['time'] = df['DateTime'].dt.time

In [20]:
df

,Origin,Destination,Throughput,DateTime,route,date,time
0,12TH,12TH,1,2016-01-01 00:00:00,12TH to 12TH,2016-01-01,00:00:00
1,12TH,16TH,1,2016-01-01 00:00:00,12TH to 16TH,2016-01-01,00:00:00
2,12TH,24TH,4,2016-01-01 00:00:00,12TH to 24TH,2016-01-01,00:00:00
3,12TH,ASHB,4,2016-01-01 00:00:00,12TH to ASHB,2016-01-01,00:00:00
4,12TH,BALB,2,2016-01-01 00:00:00,12TH to BALB,2016-01-01,00:00:00
...,...,...,...,...,...,...,...
13285202,WSPR,MONT,1,2017-05-03 23:00:00,WSPR to MONT,2017-05-03,23:00:00
13285203,WSPR,NBRK,1,2017-05-03 23:00:00,WSPR to NBRK,2017-05-03,23:00:00
13285204,WSPR,NCON,1,2017-05-03 23:00:00,WSPR to NCON,2017-05-03,23:00:00
13285205,WSPR,SANL,2,2017-05-03 23:00:00,WSPR to SANL,2017-05-03,23:00:00
13285206,WSPR,SHAY,4,2017-05-03 23:00:00,WSPR to SHAY,2017-05-03,23:00:00

In [21]:
# Filtreleme (doğru kullanım)
filtered_df = df[(df['Origin'].isin(['DBRK'])) & (df['Destination'].isin(['EMBR']))]

In [22]:
filtered_df =df[["Throughput","time"]]

In [23]:
filtered_df

          Throughput      time
0                  1  00:00:00
1                  1  00:00:00
2                  4  00:00:00
3                  4  00:00:00
4                  2  00:00:00
...              ...       ...
13285202           1  23:00:00
13285203           1  23:00:00
13285204           1  23:00:00
13285205           2  23:00:00
13285206           4  23:00:00

[13285207 rows x 2 columns]

In [24]:
filtered_df=filtered_df.groupby("time")["Throughput"].sum()

In [25]:
En_uygun_saat = filtered_df.idxmin()
print(f"En  Uygun Saat: {En_uygun_saat}")

En  Uygun Saat: 03:00:00

#### Haftanın en yogun gunu hangisidir?

In [26]:
# Tarih sütununu datetime formatına çevirme
df['date'] = pd.to_datetime(df['date'])

# Haftanın günlerini elde etme
df['day_of_week'] = df['date'].dt.day_name()  # Gün isimlerini almak için
# Alternatif olarak, haftanın gün numarasını almak için:
# df['day_of_week'] = df['date'].dt.dayofweek  # 0 = Pazartesi, 1 = Salı, ...

In [27]:
df.head()

,Origin,Destination,Throughput,DateTime,route,date,time,day_of_week
0,12TH,12TH,1,2016-01-01,12TH to 12TH,2016-01-01,00:00:00,Friday
1,12TH,16TH,1,2016-01-01,12TH to 16TH,2016-01-01,00:00:00,Friday
2,12TH,24TH,4,2016-01-01,12TH to 24TH,2016-01-01,00:00:00,Friday
3,12TH,ASHB,4,2016-01-01,12TH to ASHB,2016-01-01,00:00:00,Friday
4,12TH,BALB,2,2016-01-01,12TH to BALB,2016-01-01,00:00:00,Friday

In [28]:
en_yogun_gun=df.groupby("day_of_week")["Throughput"].sum()

In [29]:
en_yogun_gun

day_of_week
Friday       28373709
Monday       26967803
Saturday     13696288
Sunday        9602140
Thursday     30049974
Tuesday      30350159
Wednesday    30677189
Name: Throughput, dtype: int64

In [30]:
gun=en_yogun_gun.idxmax()

print(f"En yogun gun:{gun}(Carsamba)")

En yogun gun:Wednesday(Carsamba)

####  Kaç kişi gece geç saatlerde BART'a biniyor?

Gec saatleri 22:00 ile 04:00 arasi kabul ediyorum

In [31]:
# 'time' sütununu datetime.time formatına çevirme
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S').dt.time

# Saat dilimleri
after_22 = pd.to_datetime('22:00:00', format='%H:%M:%S').time()
before_04 = pd.to_datetime('04:00:00', format='%H:%M:%S').time()

# 22:00'dan sonrası ve 04:00'dan öncesi olanları filtreleme
gec_saat = df[(df['time'] >= after_22) | (df['time'] < before_04)]

In [32]:
gec_saat

,Origin,Destination,Throughput,DateTime,route,date,time,day_of_week
0,12TH,12TH,1,2016-01-01 00:00:00,12TH to 12TH,2016-01-01,00:00:00,Friday
1,12TH,16TH,1,2016-01-01 00:00:00,12TH to 16TH,2016-01-01,00:00:00,Friday
2,12TH,24TH,4,2016-01-01 00:00:00,12TH to 24TH,2016-01-01,00:00:00,Friday
3,12TH,ASHB,4,2016-01-01 00:00:00,12TH to ASHB,2016-01-01,00:00:00,Friday
4,12TH,BALB,2,2016-01-01 00:00:00,12TH to BALB,2016-01-01,00:00:00,Friday
...,...,...,...,...,...,...,...,...
13285202,WSPR,MONT,1,2017-05-03 23:00:00,WSPR to MONT,2017-05-03,23:00:00,Wednesday
13285203,WSPR,NBRK,1,2017-05-03 23:00:00,WSPR to NBRK,2017-05-03,23:00:00,Wednesday
13285204,WSPR,NCON,1,2017-05-03 23:00:00,WSPR to NCON,2017-05-03,23:00:00,Wednesday
13285205,WSPR,SANL,2,2017-05-03 23:00:00,WSPR to SANL,2017-05-03,23:00:00,Wednesday
13285206,WSPR,SHAY,4,2017-05-03 23:00:00,WSPR to SHAY,2017-05-03,23:00:00,Wednesday

In [33]:
gec_yolcu=df["Throughput"].sum()

In [34]:
print(f"Gece gec saatte metroya binen yolcu sayisi: {gec_yolcu}")

Gece gec saatte metroya binen yolcu sayisi: 169717262

### Data Science Soruları

#### Soru A: Her istasyon arasındaki düz çizgi mesafesini hesaplayın

In [35]:
dfi.head()

,Abbreviation,Description,Location,Name
0,12TH,"1245 Broadway, Oakland CA 94612<br />12th St. ...","-122.271450,37.803768,0",12th St. Oakland City Center (12TH)
1,16TH,"2000 Mission Street, San Francisco CA 94110<br...","-122.419694,37.765062,0",16th St. Mission (16TH)
2,19TH,"1900 Broadway, Oakland CA 94612<br />19th Stre...","-122.268602,37.808350,0",19th St. Oakland (19TH)
3,24TH,"2800 Mission Street, San Francisco CA 94110<br...","-122.418143,37.752470,0",24th St. Mission (24TH)
4,ASHB,"3100 Adeline Street, Berkeley CA 94703<br />As...","-122.270062,37.852803,0",Ashby (ASHB)

In [36]:
# Koordinatları ayrıştırma
dfi[['Longitude', 'Latitude', 'Altitude']] = dfi['Location'].str.split(',', expand=True).astype(float)

In [37]:
dfi=dfi[["Name","Longitude","Latitude","Altitude"]]

In [38]:
dfi

                                        Name   Longitude   Latitude  Altitude
0        12th St. Oakland City Center (12TH) -122.271450  37.803768       0.0
1                    16th St. Mission (16TH) -122.419694  37.765062       0.0
2                    19th St. Oakland (19TH) -122.268602  37.808350       0.0
3                    24th St. Mission (24TH) -122.418143  37.752470       0.0
4                               Ashby (ASHB) -122.270062  37.852803       0.0
5                         Balboa Park (BALB) -122.447506  37.721585       0.0
6                            Bay Fair (BAYF) -122.126514  37.696924       0.0
7                       Castro Valley (CAST) -122.075602  37.690746       0.0
8               Civic Center/UN Plaza (CIVC) -122.414123  37.779732       0.0
9            Coliseum/Oakland Airport (COLS) -122.196869  37.753661       0.0
10                              Colma (COLM) -122.466233  37.684638       0.0
11                            Concord (CONC) -122.029095  37.973737       0.0
12                          Daly City (DALY) -122.469081  37.706121       0.0
13                  Downtown Berkeley (DBRK) -122.268133  37.870104       0.0
14               El Cerrito del Norte (DELN) -122.316794  37.925086       0.0
15                  Dublin/Pleasanton (DUBL) -121.899179  37.701687       0.0
16                        Embarcadero (EMBR) -122.397020  37.792874       0.0
17                            Fremont (FRMT) -121.976608  37.557465       0.0
18                          Fruitvale (FTVL) -122.224175  37.774836       0.0
19                          Glen Park (GLEN) -122.433817  37.733064       0.0
20                            Hayward (HAYW) -122.087018  37.669723       0.0
21                          Lafayette (LAFY) -122.124630  37.893176       0.0
22                       Lake Merritt (LAKE) -122.265180  37.797027       0.0
23                          MacArthur (MCAR) -122.267040  37.829065       0.0
24                           Millbrae (MLBR) -122.386702  37.600271       0.0
25                     Montgomery St. (MONT) -122.401066  37.789405       0.0
26                     North Berkeley (NBRK) -122.283440  37.873967       0.0
27             North Concord/Martinez (NCON) -122.024653  38.003193       0.0
28                    Oakland Airport (OAKL) -122.212191  37.713238       0.0
29                             Orinda (ORIN) -122.183791  37.878361       0.0
30  Pleasant Hill/Contra Costa Centre (PHIL) -122.056012  37.928468       0.0
31                Pittsburg/Bay Point (PITT) -121.945154  38.018914       0.0
32                   El Cerrito Plaza (PLZA) -122.298904  37.902632       0.0
33                         Powell St. (POWL) -122.407974  37.784471       0.0
34                           Richmond (RICH) -122.353099  37.936853       0.0
35                          Rockridge (ROCK) -122.251371  37.844702       0.0
36                        San Leandro (SANL) -122.160844  37.721947       0.0
37                          San Bruno (SBRN) -122.416287  37.637761       0.0
38        San Francisco Int'l Airport (SFIA) -122.392409  37.615966       0.0
39                      South Hayward (SHAY) -122.057189  37.634375       0.0
40                South San Francisco (SSAN) -122.443960  37.664245       0.0
41                         Union City (UCTY) -122.017388  37.590630       0.0
42         Warm Springs/South Fremont (WARM) -121.939313  37.502171       0.0
43                       Walnut Creek (WCRK) -122.067527  37.905522       0.0
44             West Dublin/Pleasanton (WDUB) -121.928240  37.699756       0.0
45                       West Oakland (WOAK) -122.295140  37.804872       0.0

In [39]:
import math

In [40]:
# Haversine mesafe hesaplama fonksiyonu
def haversine(coord1, coord2):
    R = 6371.0  # Dünya'nın yarıçapı (km)
    lat1, lon1 = coord1
    lat2, lon2 = coord2

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)

    a = (math.sin(dlat / 2) ** 2 +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) ** 2)

    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = R * c
    return distance

In [41]:
# Tüm istasyonlar arası mesafeleri hesaplama
distance_list = []

for i in range(len(dfi)):
    for j in range(i + 1, len(dfi)):
        coord1 = (dfi.loc[i, 'Latitude'], dfi.loc[i, 'Longitude'])
        coord2 = (dfi.loc[j, 'Latitude'], dfi.loc[j, 'Longitude'])
        distance = haversine(coord1, coord2)
        distance_list.append({
            'From': dfi.loc[i, 'Name'],
            'To': dfi.loc[j, 'Name'],
            'Distance (km)': distance
        })

# Mesafeleri içeren DataFrame oluşturma
distances = pd.DataFrame(distance_list)

In [42]:
distances

,From,To,Distance (km)
0,12th St. Oakland City Center (12TH),16th St. Mission (16TH),13.720175
1,12th St. Oakland City Center (12TH),19th St. Oakland (19TH),0.567617
2,12th St. Oakland City Center (12TH),24th St. Mission (24TH),14.097927
3,12th St. Oakland City Center (12TH),Ashby (ASHB),5.453806
4,12th St. Oakland City Center (12TH),Balboa Park (BALB),17.972899
...,...,...,...
1030,Warm Springs/South Fremont (WARM),West Dublin/Pleasanton (WDUB),21.992095
1031,Warm Springs/South Fremont (WARM),West Oakland (WOAK),45.980238
1032,Walnut Creek (WCRK),West Dublin/Pleasanton (WDUB),25.947182
1033,Walnut Creek (WCRK),West Oakland (WOAK),22.903966
1034,West Dublin/Pleasanton (WDUB),West Oakland (WOAK),34.309405

#### Soru B: Herhangi 2 istasyon arasında Bart ile işe gidip gelen insanların sayısını tahmin edebilecek bir model oluşturun:

In [43]:
df.head()

,Origin,Destination,Throughput,DateTime,route,date,time,day_of_week
0,12TH,12TH,1,2016-01-01,12TH to 12TH,2016-01-01,00:00:00,Friday
1,12TH,16TH,1,2016-01-01,12TH to 16TH,2016-01-01,00:00:00,Friday
2,12TH,24TH,4,2016-01-01,12TH to 24TH,2016-01-01,00:00:00,Friday
3,12TH,ASHB,4,2016-01-01,12TH to ASHB,2016-01-01,00:00:00,Friday
4,12TH,BALB,2,2016-01-01,12TH to BALB,2016-01-01,00:00:00,Friday

In [44]:
dfm=df[["route","day_of_week","Throughput","time"]]

In [45]:
dfm

                 route day_of_week  Throughput      time
0         12TH to 12TH      Friday           1  00:00:00
1         12TH to 16TH      Friday           1  00:00:00
2         12TH to 24TH      Friday           4  00:00:00
3         12TH to ASHB      Friday           4  00:00:00
4         12TH to BALB      Friday           2  00:00:00
...                ...         ...         ...       ...
13285202  WSPR to MONT   Wednesday           1  23:00:00
13285203  WSPR to NBRK   Wednesday           1  23:00:00
13285204  WSPR to NCON   Wednesday           1  23:00:00
13285205  WSPR to SANL   Wednesday           2  23:00:00
13285206  WSPR to SHAY   Wednesday           4  23:00:00

[13285207 rows x 4 columns]

In [46]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13285207 entries, 0 to 13285206
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   route        object
 1   day_of_week  object
 2   Throughput   int64
 3   time         object
dtypes: int64(1), object(3)
memory usage: 405.4+ MB

In [47]:
# 'day_of_week' sütununda 'Sunday' veya 'Saturday' olmayanları alma
dfm = dfm[~dfm['day_of_week'].isin(['Sunday', 'Saturday'])]

In [48]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder nesnesi oluşturma
le = LabelEncoder()

# 'route' sütununu etiket kodlama ile dönüştürme
dfm['route'] = le.fit_transform(dfm['route'])

In [49]:
dfm["route"].nunique()

2116

In [50]:
# ":" karakterine kadar olan kısmı alma ve int'e dönüştürme
dfm["time"]=dfm["time"].astype(str)
dfm['time'] = dfm['time'].str.split(':').str[0].astype(int)

In [51]:
dfm=pd.get_dummies(dfm,drop_first=True)

In [52]:
dfm=dfm[dfm["time"].isin([16,17,18])]

In [53]:
dfm =dfm.drop_duplicates(keep="first")

In [54]:
dfm

,route,Throughput,time,day_of_week_Monday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
12643,1,6,16,False,False,False,False
12644,2,1,16,False,False,False,False
12645,3,3,16,False,False,False,False
12646,4,6,16,False,False,False,False
12647,5,4,16,False,False,False,False
...,...,...,...,...,...,...,...
13278481,2105,2,18,False,False,False,True
13278482,2106,3,18,False,False,False,True
13278483,2108,1,18,False,False,False,True
13278485,2111,7,18,False,False,False,True
13278487,2114,2,18,False,False,False,True

In [55]:
x=dfm.drop("Throughput",axis=1)

In [56]:
y=dfm["Throughput"]

In [71]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [72]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.20,random_state=42)

In [73]:
dt=DecisionTreeRegressor()

In [74]:
dt.fit(x_train,y_train)

DecisionTreeRegressor()

In [75]:
thmn=dt.predict(x_test)

In [76]:
r2_score(thmn,y_test)

0.889764254853194

In [80]:
mean_squared_error(thmn, y_test) ** 0.5

25.17749038124759

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",100)

from sklearn.linear_model import LinearRegression,SGDRegressor,Ridge,Lasso,ElasticNet
from sklearn.neighbors import KNeighborsRegressor, RadiusNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor, plot_tree, ExtraTreeRegressor
#pip install xgboost
from xgboost import XGBRegressor
from sklearn.svm import SVR

from sklearn.neural_network import MLPRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

from sklearn.preprocessing import StandardScaler


def algo_test(x,y):
        #Bütün modelleri tanımlıyorum
        L=LinearRegression()
        R=Ridge()
        Lass=Lasso()
        E=ElasticNet()
        sgd=SGDRegressor()
        ETR=ExtraTreeRegressor()
        GBR=GradientBoostingRegressor()
        kn=KNeighborsRegressor()
        rkn=RadiusNeighborsRegressor(radius=1.0)
        ada=AdaBoostRegressor()
        dt=DecisionTreeRegressor()
        xgb=XGBRegressor()
        svr=SVR()
        mlp_regressor = MLPRegressor()

       
        
        algos=[L,R,Lass,E,sgd,ETR,GBR,ada,kn,dt,xgb,svr,mlp_regressor]
        algo_names=['Linear','Ridge','Lasso','ElasticNet','SGD','Extra Tree','Gradient Boosting',
                    'KNeighborsRegressor','AdaBoost','Decision Tree','XGBRegressor','SVR','mlp_regressor']
        
        x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.20,random_state=42)
        
        r_squared= []
        rmse= []
        mae= []
        
        #Hata ve doğruluk oranlarını bir tablo haline getirmek için bir dataframe oluşturuyorum
        result=pd.DataFrame(columns=['R_Squared','RMSE','MAE'],index=algo_names)
        
        
        for algo in algos:
            p=algo.fit(x_train,y_train).predict(x_test)
            r_squared.append(r2_score(y_test,p))
            rmse.append(mean_squared_error(y_test,p)**.5)
            mae.append(mean_absolute_error(y_test,p))
        
            

        #result adlı tabloya doğruluk ve hata oranlarımı yerleştiriyorum
        result.R_Squared=r_squared
        result.RMSE=rmse
        result.MAE=mae
        
       #oluşturduğum result tablosunu doğruluk oranına (r2_score) göre sıralayıp dönüyor
        rtable=result.sort_values('R_Squared',ascending=False)
        return rtable

In [82]:
algo_test(x,y)

                        R_Squared          RMSE           MAE
Decision Tree        8.998118e-01  2.517749e+01  1.187980e+01
Extra Tree           8.997943e-01  2.517968e+01  1.188520e+01
AdaBoost             8.831635e-01  2.718900e+01  1.296472e+01
XGBRegressor         7.247458e-01  4.173218e+01  2.309354e+01
Gradient Boosting    6.903859e-01  4.426031e+01  2.514222e+01
mlp_regressor        2.513965e-01  6.882243e+01  4.371586e+01
KNeighborsRegressor  1.587401e-01  7.295737e+01  5.863388e+01
Linear               1.549271e-02  7.892481e+01  5.231296e+01
Ridge                1.549270e-02  7.892481e+01  5.231295e+01
Lasso                1.351218e-02  7.900415e+01  5.232932e+01
ElasticNet           1.115964e-02  7.909830e+01  5.234686e+01
SVR                 -1.544322e-01  8.546500e+01  4.294641e+01
SGD                 -2.717556e+20  1.311274e+12  1.078210e+12

BART ile işe gidip gelen insanları tahmin eden bir model yaptık ama daha sağlıklı bir model oluşturmak için elimizde bu şehirlerdeki çalışma saatleri, Okul saatleri, Binenlerin hangi tarifeyle bindiği(örn. Öğrenci, yaşlı, tam vb.) gibi verilerin de olması gerekir.